<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="assets/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
        <div class="wrapper">
          <section id="player" class="container">
            <h2>Your Health</h2>
            <img v-if="!winner || winner === 'player'" src="assets/sprites/craftpix-561178-free-rpg-monster-sprites-pixel-art/PNG/lizard/Idle2.png">
            <img v-if="winner==='monster'" src="assets/sprites/craftpix-561178-free-rpg-monster-sprites-pixel-art/PNG/lizard/Death2.png">
            <div class="healthbar">
              <div class="healthbar__value" :style="playerBarStyles"></div>
            </div>
            <h3>HP: {{ playerHealth }}</h3>
          </section>
          <section id="monster" class="container">
            <h2>Monster Health</h2>
            <img v-if="!winner || winner === 'monster'" src="assets/sprites/craftpix-561178-free-rpg-monster-sprites-pixel-art/PNG/demon/Idle2.png">
            <img v-if="winner==='player'" src="assets/sprites/craftpix-561178-free-rpg-monster-sprites-pixel-art/PNG/demon/Death2.png">
            <div class="healthbar">
              <div class="healthbar__value" :style="monsterBarStyles"></div>
              <h3>HP: {{ monsterHealth }}</h3>
            </div>
          </section>
        </div>
        <section class="container" v-if="winner">
          <h2>Game Over!</h2>
          <span v-if="winner === 'monster'">
            <audio src="assets/sound/game-over.wav" autoplay hidden></audio>
            <h3>You Lost!</h3>
          </span>
          <span v-else-if="winner === 'player'">
            <audio src="assets/sound/win.wav" autoplay hidden></audio>
            <h3>You Won!</h3>
          </span>
          <span v-else>
            <audio src="assets/sound/draw.wav" autoplay hidden></audio>
            <h3>Draw</h3>
          </span>
          <button @click="startGame">New Game</button>
        </section>
        <section id="controls" v-if="!winner">
          <button @click="attackMonster"><i class="fas fa-skull"></i> ATTACK</button>
          <button @click="specialAttackMonster" :disabled="mayUseSpecialAttack"><i class="fas fa-khanda"></i> SPECIAL ATTACK</button>
          <button @click="healPlayer"><i class="fas fa-first-aid"></i> HEAL</button>
          <button @click="surrender"><i class="far fa-flag"></i> SURRENDER</button>
        </section>
        <section id="log" class="container">
          <h2>Battle Log</h2>
          <ul>
            <li><strong>Game Started!</strong></li>
            <li v-if="log.length" v-for="message in log">
              <span :class="{'log--player': message.actionBy === 'player', 'log--monster': message.actionBy === 'monster'}">
                {{ message.actionBy === 'player' ? 'Player' : 'Monster'}}
              </span>
              <span v-if="message.actionType === 'heal'"> 
                heals himself for <span class="log--heal">{{ message.actionValue }}</span>
              </span>
              <span v-else>
                attacks and deals <span class="log--damage">{{ message.actionValue }}</span>
              </span>
            </li>
            <li v-if="winner"><strong>Game Ended!</strong></li>
          </ul>
        </section>
    </div>
  </body>
</html>
